[package]
authors = ["Johan Kristell <johan@jott.se>"]
name = "nucleo-f401re"
version = "0.2.1"
edition = "2018"
description = "Board Support crate for the STM32 NUCLEO-f401RE development board"
repository = "https://github.com/jkristell/nucleo-f401re"
readme = "README.md"
license = "0BSD"
keywords = [
    "arm",
    "cortex-m",
    "stm32f401",
    "nucleo",
    "template",
]
categories = [
    "embedded",
    "no-std",
]

[dependencies]
cortex-m = "0.6.0"
cortex-m-rt = "0.6.7"

[dependencies.embedded-hal]
features = ["unproven"]
version = "0.2.3"

[dependencies.stm32f4xx-hal]
default-features = false
features = ["rt", "stm32f401"]
version = "0.7.0"

[dev-dependencies]
nb = "0.1.1"
hd44780-driver = "0.3.0"
cortex-m-semihosting = "0.3"
panic-semihosting = "0.5.1"
tpa2016d2 = "0.2.0"

[dev-dependencies.cortex-m-rtfm]
version = "0.5"

[dev-dependencies.segment-display]
version = "0.1.0"

[features]
default = ["rt"]
rt = []

[profile.dev]
debug = true

[profile.release]
debug = true
lto = true
opt-level = "s"
